<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>airbnb Home</title>
  </head>
  <body>
    <center>
    <header>
      <h2 style="color: brown;">Home Registration</h2>
    </header>
    <main>
      <form method="POST" action="/host/add_home">
        <input type="text" name="addedHome" placeholder="your home name.." />
        <input type="submit" style="background-color: blueviolet; color: white;"/>
      </form>
    </main>
    </center>
  </body>
</html>
