<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>contect us</title>
</head>
<body>
  <center>
      <header><h1 style="color: darkcyan;">We need your name and email..!</h1></header>
  <main>
    <form action="/contact-us" method="POST">
      <input type="text" name="name" placeholder="Enter name" />
      <input type="email" name="email" placeholder="Enter email" />
      <button type="submit" style="background-color: brown;color:white; border: none;">Submit</button>
    </form>
  </main>
  </center>

</body>
</html>